.footer {
    padding-left: 100px;
}

.logo {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

.quick-link {
    margin-top: 20px;
}

.contact {
    text-align: center!important;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}