<div class="w3-container">
    <h3 class="w3-center section-header w3-margin-bottom">Trusted by the prestigious corporations</h3>
    <div class="row">
        <div class="col-md-2 col-sm-1">
        </div>
        <div class="col-md-8 col-sm-10" *ngIf="customers && customers.length > 0">
            <ng-image-slider [images]="customers" [imageSize]="{width: 80, height:80}" [imagePopup]="false" [showArrow]="false" [autoSlide]="1" [slideImage]="2" [infinite]="true" #nav>
            </ng-image-slider>
        </div>
        <div class="col-md-2 col-sm-1">
        </div>
    </div>
</div>