<div class="w3-container">
    <h3 class="w3-center section-header w3-margin-bottom">Trusted by the prestigious corporations</h3>
    <div class="d-flex justify-content-center" *ngIf="customers && customers.length > 0">
        <div class="w-75 p-3 align-self-center slide" [ngStyle]="{'min-width':80+'px', 'min-height': 80+'px'}" id="slide">
            <ng-image-slider [images]="customers" [imageSize]="{width: 80, height:80}" [imagePopup]="false" [showArrow]="false" [autoSlide]="1" [slideImage]="2" [infinite]="true" #nav>
            </ng-image-slider>
        </div>
    </div>
</div>