.ng-image-slider .img-div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: auto !important;
    left: 0px;
    right: 0;
}

@media screen and (min-width: 600 px) {
    .slide {
        width: 80px;
        height: 80px;
    }
}