<!-- Work Section -->
<div class="container" id="work">
    <h3 class="text-center">OUR WORK</h3>
    <p class="text-center">What we've done for people</p>
    <div class="d-flex p-2 flex-column flex-sm-row justify-content-center " *ngFor="let detail of detailProjects">
        <div class="text-center" *ngFor="let scr of detail.screen">
            <img class="align-self-center" src="{{scr.image}}" alt="" width="200px" height="200px">
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10" *ngIf="allScreen && allScreen.length > 0">
            <ng-image-slider [images]="allScreen" [imageSize]="{width: 200, height:200}" [imagePopup]="false" [showArrow]="true" [autoSlide]="1" [infinite]="true" (imageClick)="imageOnClick($event)" #nav>
            </ng-image-slider>
        </div>
        <div class="col-md-2 col-sm-1"></div>
    </div>
    <div class="row mt-50" *ngIf="selectedProject">
        <div class="col-md-7 col-sm-12">
            <div class="row">
                <div class="col-2">
                    <div class="mt-20 border" *ngFor="let screen of selectedProject.screen">
                        <img src="{{screen.image}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" (click)="setSelectedScreen(screen.image)" />
                    </div>
                </div>
                <div class="col-10">
                    <img src="{{selectedScreen}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" />
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <p><b>{{ selectedProject.name }}</b></p>
            <p><b>Description: </b>{{ selectedProject.description }}</p>
            <p><b>Technologies: </b>{{ selectedProject.technologies }}</p>
            <p><b>Project management: </b>{{ selectedProject.management }}</p>
        </div>
    </div> -->
</div>