.bgmobile {
    background-image: url('/assets/img/project/mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.bgdesktop {
    background-image: url('/assets/img/project/desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

ul {
    list-style-type: none;
    width: 250px;
    height: 500px;
    overflow: auto;
}

.screen-detail {
    padding: 5px;
    border: 1px solid #ececec;
    border-radius: 3px;
}