<div class="w3-container" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">Our top professionals are ready to help with your business</p>
    <div class="w3-row-padding" >
        <div class="w3-col l3 m6 w3-margin-bottom" *ngFor="let team of teamSections | async">
            <div>
                <img src="{{team.avatar}}" alt="{{team.id}}" id="avatar">
                <div class="w3-container w3-center">
                    <h3>{{team.name}}</h3>
                    <p class="w3-opacity">{{team.field}}</p>
                </div>
            </div>
        </div>
    </div>
</div>