<div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">Our top professionals are ready to help with your business</p>
    <div class="w3-row-padding  w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom" *ngFor="let team of teamSections | async">
            <div class="w3-card">
                <img src="{{team.avatar}}" alt="{{team.id}}" style="width:100%">
                <div class="w3-container">
                    <h3>{{team.name}}</h3>
                    <p class="w3-opacity">{{team.field}}</p>
                    <p>{{team.description}}</p>
                    <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</div>