<!-- Skills Section -->
<div class="w3-container w3-center">
    <div class="w3-row-padding">
        <h3 class="section-header">Our Technical Skills</h3>
        <div class="w3-center">
            <div class="skill-row">
                <div class="skill-item" *ngFor="let skill of frontendSkills">
                    <img class="w3-hover-opacity" src="{{skill.skill}}" alt="{{skill.name}}" width="50px" height="50px">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill-item" *ngFor="let skill of backendSkills">
                    <img class="w3-hover-opacity" src="{{skill.skill}}" alt="{{skill.name}}" width="50px" height="50px">
                    <span>{{skill.name}}</span>
                </div>
            </div>
            <div class="skill-row">
                <div class="skill-item" *ngFor="let skill of others">
                    <img class="w3-hover-opacity" src="{{skill.skill}}" alt="{{skill.name}}" width="50px" height="50px">
                    <span>{{skill.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>