<app-top-bar></app-top-bar>

<app-header></app-header>
<div class="container">
    <app-software-service-section></app-software-service-section>
    <app-team-section></app-team-section>
    <app-skills-section></app-skills-section>
    <!-- <app-statistics-promo-section></app-statistics-promo-section> -->
    <app-work-section></app-work-section>
    <app-contact-section></app-contact-section>
</div>
<app-footer-section></app-footer-section>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->