<!-- Contact Section -->
<div class="w3-container" id="contact">
    <div class="w3-col m6" style="padding-left: 50px;">
        <h2 class="w3-text-blue section-header">Contact us
        </h2>
        <p class="w3-left w3-large">Email us with any questions or inquiries or call for realize your offshore software outsourcing plan. We would be happy to answer your questions and set up a meeting with you.</p>
        <div *ngFor="let contact of contactSection | async">
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right w3-text-blue"></i> {{contact.address}}</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right w3-text-blue"></i> Phone: {{contact.phone}}</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right w3-text-blue"> </i> Email: {{contact.email}}
            </p>
            <br>
        </div>
    </div>
    <div class="w3-col m6 padding">
        <app-map-section></app-map-section>
    </div>
</div>